{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>django-qstash example app</title>
  <link rel="stylesheet" href="{% static 'mvp.css' %}">
</head>

<body>
  <header>
    <nav>
      <h1>
        <a href="/">
          django-qstash example app
        </a>
      </h1>
    </nav>
  </header>
  <main id="main">
    {% block main %}{% endblock %}
  </main>
  <footer>
    <hr>
    <p>
      For more information see <a href="https://github.com/jmitchel3/django-qstash">django-qstash</a> and <a href="https://upstash.com/docs/qstash/overall/getstarted">Upstash QStash</a>.
    </p>
  </footer>
</body>
</html>
